<a href="https://colab.research.google.com/github/Jun-KY/Python/blob/main/01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
print("Hello world")
a = 10
print(a)

Hello world
10

In [9]:
10+10

20

In [10]:
print("a")

a

In [13]:
print("10 + 10 =",10+10)

10 + 10 = 20

In [15]:
print("1 + 2 = ", 1+2, sep='$')

1 + 2 = $3

In [18]:
print("1 + 10 = ", 1+10)

1 + 10 =  11

In [19]:
print(1,2,3,4,5)

1 2 3 4 5

In [21]:
print(1,2,3,4,5, sep='')

12345

In [22]:
print("Python Program is great Program!")
print("Python","Program","is","Great","Program!")

Python Program is great Program!
Python Program is Great Program!

In [26]:
print("50+50의 합=", 50+50)
print(50,'+',50,"의 합= ", 50+50,sep='')
a = 50
print(a,'+',a,'의 합= ', a+a, sep = '')

50+50의 합= 100
50+50의 합= 100
50+50의 합= 100

In [28]:
name = 'dean'

print(name)

dean

In [32]:
name = '홍길동'
age = '20'
print("나의 이름은",name+"이고,\n"+'나이는', age+"세이다.")

나의 이름은 홍길동이고,
나이는 20세이다.

In [3]:
name="홍길동"
kibon = 2000000
bonus = 500000
salary = kibon + bonus
print("{0}씨 월급은 기본급 {1:,} 보너스 {2:,}, 총급여액 {3:,} 이다. ".format(name,kibon,bonus,salary))

홍길동씨 월급은 기본급 2,000,000 보너스 500,000, 총급여액 2,500,000 이다.

In [15]:
height = 176.72342

print("나의 키는 ", height,'cm 입니다.', sep = '')
print("나의 키는 {0:0,.2f}cm".format(height))
print("나의 키는 {0:.2f}cm".format(height))

나의 키는 176.72342cm 입니다.
나의 키는 176.72cm
나의 키는 176.72cm

In [20]:
num1, num2, num3 = 100, 200, 300
print("{0:d} {1:5d} {2:05}".format(num1, num2, num3))

100   200 00300

In [25]:
print("안녕하세요\n딘입니다.")
print("안녕하세요\n 딘입니다.")
print("안녕하세요\t 딘입니다.")
print("안녕하세요\b 딘입니다.")
print("안녕하세요\\ 딘입니다.")

안녕하세요
딘입니다.
안녕하세요
 딘입니다.
안녕하세요	 딘입니다.
안녕하세요 딘입니다.
안녕하세요\ 딘입니다.

In [27]:
a = 20
b = 20
print("직사각형의 넓이=",a*b, sep='')

직사각형의 넓이=400

In [4]:
a = 100
b = 80
c = 75
sum = a+b+c
avg = (a+b+c)/3
print("국어 :",a)
print("영어 :",b)
print("수학 :",c)
print("총점 :",sum)
print("평균 : {0:.2f}".format(avg))

국어 : 100
영어 : 80
수학 : 75
총점 : 255
평균 : 85.00