<a href="https://colab.research.google.com/github/Jun-KY/Python/blob/main/class05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 6. 중첩 반복문문

In [ ]:
for i in range(1,6,1):
    # for j in range(1,i+1,1): 
    print(" ".join(chr(j+64) for j in range(1,i+1,1)))

for i in range(1,6,1):
    print(" ".join(str(j) for j in range(1,i+1,1)))

for i in range(1,6,1):
    for j in range(1,i+1,1):
        print(j, end=" ")
    print()

A
A B
A B C
A B C D
A B C D E
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
j = ord('A')
z = (1,2,3,4,5)
for i in z:
    print(" ".join(chr(j) for j in range(1,i+1)))


 
  
   
    

In [ ]:
for i in range(5,0,-1):
    for j in range(5,5-i,-1):
        print(j, end =" ")
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [ ]:
for i in range(5, 0, -1):
    for j in range(i, 0, -1):
        print(j, end = " ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
for i in range(11):
    print(f"숫자:{i}")
    if i>3:
        break
    else:
        print(f"\t제곱근:{i*i}")

숫자:0
	제곱근:0
숫자:1
	제곱근:1
숫자:2
	제곱근:4
숫자:3
	제곱근:9
숫자:4

In [ ]:
num = int(input("Number: "))
for i in range(num):
    print(i, end=" ")
    if i==5:
        break

Number: 10
0 1 2 3 4 5

In [ ]:
num = 1
sum = 0
while num != 0:
    num = int(input("Number: "))
    sum += num
print("합계:",sum)

Number: 5
Number: 4
Number: 1
Number: 6
Number: 0
합계: 16

In [ ]:
count = 1
ani = "코알라"
while True:
    mal = input("내가 좋아하는 동물? ")
    if ani == mal:
        break
    count += 1
print(f"{count}회만에 정담을 맞추셨습니다.")

내가 좋아하는 동물? 사흠
내가 좋아하는 동물? 소할이
내가 좋아하는 동물? ㄹ사자
내가 좋아하는 동물? 코알라
4회만에 정담을 맞추셨습니다.

In [ ]:
i = 0
while i < 10:
    i += 1

    if i % 2 == 0:
        continue
    print(i)

print()
str = "Python_Programming"
for i in str:
    if(i == '_'):
        continue
    print(i, end="")

1
3
5
7
9

PythonProgramming

In [ ]:
num = [15,23,42,50,22,31,1]
for i in num:
    if i % 2 == 0:
        continue
    print(i, end = ' ')

15 23 31 1

In [ ]:
sum = 0
for i in range (5):
    num = int(input('Number: '))
    if num < 0:
        continue
    sum += num
print("Sum of positive numbers: ", sum)

Number: 15
Number: -3
Number: 20
Number: -20
Number: 15
Sum of positive numbers:  50

In [ ]:
# 7. 자료형1 (리스트)

In [ ]:
numList = []        #빈 리스트
numList = [10, 20, 30, 40, 50]  #숫자 리스트 변수
strList = ['SBS', 'KBS', 'MBC', 'TVN']  #문자열 데이터 리스트 변수
milkiest = [10, 'KBS', 120.15, True, False] # 혼합형 데이터 리스트 변수

# 단일 데이터 유형
# integer - 정수형
# float - 실수형
# string - 문자형
# boolean - 참거짓 논리형

# 여러 항목의 값을 저장하는 데이터 유형
# list : []
# tuple : ()
# dictionary: {}
# set : {}

In [ ]:
num = [10,15, 20,25,30]
sum = 0
for i in num:
    sum += i
print(sum)

100

In [66]:
num = [1,2,3,3,4,5,6,7,2,3,8,9,10]
print('3의 갯수:', num.count(3),'개')

3의 갯수: 3 개

In [69]:
odd, even = 0, 0
num = [15,23,18,47,23]
for i in num:
    if i % 2 == 0:
        even+= 1
    else:
        odd += 1
print(f'홀수 갯수: {odd}개\n짝수 갯수: {even}개')

홀수 갯수: 4개
짝수 갯수: 1개

In [70]:
#리스트 만들기
numList = []

#

strList = list()

In [78]:
#리스트 추가
numList = []
numList.append (5)

numList = [30, 5, 11, 3]
numList.append(20)
print(numList)
numList.insert(5, 50)
print(numList)

[30, 5, 11, 3, 20]
[30, 5, 11, 3, 20, 50]

In [83]:
#리스트 합치기
numA = [1,2,3]
numB = [10,20,30]
numA.extend(numB)
numA

num1 = [5,10,15]
num2 = [20,25,30]
# num1.insert((3,4,5), num2)
num1

[5, 10, 15]

In [87]:
# 숫자 자료형

a = 0xF
type(a)

b = 0o25
type(b)

c = 0b0010
type(c)

# 문자 자료형

d = "Python"
type(d)

e = 'Programming'
type(e)

str

In [89]:
#리스트 자료형

grade_list = [90,85,70,85,90]
print(grade_list)

[90, 85, 70, 85, 90]

In [95]:
# 리스트 슬라이싱
alphaList = ['a','b','c','d','e','f','g','h']
alphaList[1]
alphaList[-1]       # 오른쪽에서 1번째 
alphaList[-2]       


# 리스트 변수명[시작 : 종료]
print(alphaList[0:])
print(alphaList[:-1])
print(alphaList[:7])
print(alphaList[3:7])

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
['a', 'b', 'c', 'd', 'e', 'f', 'g']
['a', 'b', 'c', 'd', 'e', 'f', 'g']
['d', 'e', 'f', 'g']

In [106]:
alphaList = ['a','b','c','d','e','f','g','h']
print(alphaList[4])
print(alphaList[-5])

print(alphaList[2:6])
print(alphaList[-6:6])

e
d
['c', 'd', 'e', 'f']
['c', 'd', 'e', 'f']

In [107]:
# 리스트 데이터 정렬하기

# sort()

# 리스트 자료형에서만 사용할 수 있다.
# 리스트변수.sort() 정렬 시 리스트 항목이 정렬된 내용으로 새롭게 저장된다.
# sorted() 정렬 보다 빠르다.
# reverse = True 옵션으로 매개변수를 전달하면 내림차순 정렬이 가능하다.


# sorted()

# 리스트, 문자열, 튜플, 딕셔너리 자료형에서 폭 넓게 사용 할 수 있다.
# sorted() 명령 적용 시 정렬은 표시 되지만 리스트 원래 항목에 대한 정렬 변화는 저장되지 않는다.
# 정렬된 새로운 리스트를 반환한다.
# sort()에 비해 매개변수가 하나 더 추가되면 reverse 매개변수로 True를 전달하면 내림차순 정렬이 가능하다.

In [119]:
numList=[43,12,3,7,72,25]
numList.sort()
print(numList)

strList=['K','C','t','E','b','a','M']
strList = sorted(strList)
# strList = sorted(strList, reverse = True )
print(strList)

[3, 7, 12, 25, 43, 72]
['C', 'E', 'K', 'M', 'a', 'b', 't']

In [122]:
numList = [11,23,5,7,15,9,8]
numList = sorted(numList, reverse = True)
numList

[23, 15, 11, 9, 8, 7, 5]

In [126]:
# 복제
score = [90,85,100,75,95]
copyScore = score
score.append(100)
print(copyScore)
print(score)

# 독립적
score = [90,85,100,75,95]
copyScore = list(score)
score.append(100)
print(copyScore)
print(score)

[90, 85, 100, 75, 95, 100]
[90, 85, 100, 75, 95, 100]
[90, 85, 100, 75, 95]
[90, 85, 100, 75, 95, 100]

In [144]:
flower = ['장미', '백합', '튤립', '국화', '수선화']
for i in flower:
    if(len(i)==3):
        # print(len(i))
        print(i)

flower.append('해바라기')
flower.sort(key=len, reverse = True)
print (flower)

수선화
['해바라기', '수선화', '장미', '백합', '튤립', '국화']