<a href="https://colab.research.google.com/github/Jun-KY/Python/blob/main/class04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(5):
    print(i)

print("\n")

for i in range(1,5,1):
    print(i)

print("\n")

for i in range(1,5,1):
    print(i, end =' ')

print("\n")

0
1
2
3
4


1
2
3
4


1 2 3 4

In [ ]:
i = 0
sum = 0
for i in range(1, 11, 1):
    sum += i
print(f'1에서 10 사이 자연수의 합:', sum)

1에서 10 사이 자연수의 합: 55

In [ ]:
# 실습

for i in range (5):
    num = int(input('어떤 수: '))
    if num % 2 == 0:
        res = 'even'
    else: 
        res = 'odd'
    print(f"{num} is {res}")

어떤 수: 5
5 is odd
어떤 수: 3
어떤 수: 2
3 is odd
2 is even
어떤 수: 1
1 is odd
어떤 수: 3
3 is odd

In [ ]:
for i in range(5, 0, -1):
    print(i)

5
4
3
2
1

In [ ]:
num = [1,2,3,4,5]
for i in num:
    print(i)

print("\n")

for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5


1
2
3
4
5

In [ ]:
alp = ['a','b','c','d','e']
for i in alp[::-1]:
    print(i)

print("\n")

for i in reversed(alp):
    print(i)

print("\n")

alp.reverse()
for i in alp:
    print(i)

e
d
c
b
a


e
d
c
b
a


e
d
c
b
a

In [ ]:
zoo = ['rabbit', 'goat', 'tiger', 'lion', 'giraffe', 'zebra']
for i in zoo[::-1]:
    print(i, end=' ')

print('\n')

for i in reversed(zoo):
    # print(i)
    print(f"{i} : {len(i)}")

print("\n")
for i in range(2):
    j = input('내가좋아하는 동물? ')
    if j in zoo:
        print('%s는 동물원에 있습니다.'% j)
    else:
        print(f'{j}는 동물원에 없습니다.')

zebra giraffe lion tiger goat rabbit

zebra : 5
giraffe : 7
lion : 4
tiger : 5
goat : 4
rabbit : 6


내가좋아하는 동물? me
me는 동물원에 없습니다.
내가좋아하는 동물? zebra
zebra는 동물원에 있습니다.

In [ ]:
cnt = 0;
while cnt<5:
    cnt = cnt +1
    print(cnt)

print('\n')

cnt = 1
while cnt <=5:
    print(cnt)
    cnt = cnt+1

print('\n')

i=0
while True:
    i += 1
    print(i)
    if i > 50:
        break

1
2
3
4
5


1
2
3
4
5


1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51

In [ ]:
i = 0
while i < 5:
    print(f'Python Program {i+1}번 출력')
    i+=1

Python Program 1번 출력
Python Program 2번 출력
Python Program 3번 출력
Python Program 4번 출력
Python Program 5번 출력

In [ ]:
ggd = int(input('구구단: '))
i = 1
while i < 10 :
    print(f'{ggd} x {i} = {ggd*i}')
    i += 1

구구단: 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81