<a href="https://colab.research.google.com/github/Jun-KY/Python/blob/main/class02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# x = input()       - 문자열 입력
# y = int(input())  - 정수 입력
num1 = int(input("정수 1을 입력하시오: "))
num2 = int(input("정수 2을 입력하시오: "))
num1, num2
print(num1, num2)
print(f"{num1}과 {num2}의 합은 {num1+num2}")

정수 1을 입력하시오: 123
정수 2을 입력하시오: 23
123 23
123과 23의 합은 146

In [ ]:
# 이름과 생년월일을 받아 출력
name = input("이름을 입력하시오: ")
year, month, day = input("(띄어쓰기로 구분)\n태어난 년, 월, 일을 입력하시오: ").split()
print(f"{name}은 {year}년 {month}월 {day}일에 태어났습니다.")
year, month, day = input("($로 구분)\n태어난 년, 월, 일을 입력하시오: ").split('$')
print(f"{name}은 {year}년 {month}월 {day}일에 태어났습니다.")
print(int(year)+1)

이름을 입력하시오: mac
(띄어쓰기로 구분)
태어난 년, 월, 일을 입력하시오: 2000 32 2
mac은 2000년 32월 2일에 태어났습니다.
($로 구분)
태어난 년, 월, 일을 입력하시오: 1000$3$31
mac은 1000년 3월 31일에 태어났습니다.
1001

In [ ]:
#Get 3 different numbers and print their sum
num1 = int(input("First number: "))
num2 = int(input("Second number: "))
num3 = int(input("Third number: "))
sum = num1+num2+num3
print(f"{num1} + {num2} + {num3} = {sum:,}")

First number: 123
Second number: 23
Third number: 12
123 + 23 + 12 = 158

In [ ]:
kor = int(input("Korean: "))
eng = int(input("English: "))
math = int(input("Mathematic: "))
tot = kor+eng+math
avg = tot/3
print(f"Total: {tot}\nAverage: {avg:.2f}")

Korean: 100
English: 90
Mathematic: 80
Total: 270
Average: 90.00

In [ ]:
# 16진수
a = 0xF
print(a)

# 8진수
a = 0o25
print(a)

# 2진수
a = 0b0010
print(a)

15
21
2

In [ ]:
grade_list1=[]
grade_list1.append(100)
grade_list1.append(90)
grade_list1.append(80)
print(grade_list1)

[100, 90, 80]

In [ ]:
# 2 exercise
list_colour = ["red", "blue", "orange", "green", "purple"]
# list_colour.pop(4)
list_colour.pop()
print(list_colour)
# remove
list_colour.remove("orange")
print(list_colour)
# del
del list_colour[0]
print(list_colour)
# clear
list_colour.clear()
print(list_colour)

['red', 'blue', 'orange', 'green']
['red', 'blue', 'green']
['blue', 'green']
[]

In [ ]:
import os
print(os.getcwd())

/content

In [ ]:
# 3 Exercise

from logging import FileHandler


num = (5 * 5 + 2*(25-5)/5)**2
print(f"{num:.1f}")

nu = int(input("Numerator: "))
de = int(input("Denominator: "))
quo = int(nu/de)
rem = nu%de
print(f"Quotient = {quo}\nRemainder= {rem}")


fah = int(input("Fahrenheit"))
cel = (fah-32.0)/1.8
print(f"Fahrenheit {fah}`F in Celsius is {cel:.2f}`C")

1089.0
Numerator: 13
Denominator: 5
Quotient = 2
Remainder= 3
72
Fahrenheit 72`F in Celsius is 22.22`C

In [ ]:
# 3 test

money = int(input("Given money: "))

rest = money-3550
print(f"Rest mondy: {rest} Won" )
print("500 Won:", rest//500)
rest = rest%500
print("100 Won:", int(rest/100))
rest = (rest%100)
print("50 Won:", int(rest/50))

Given money: 10000
Rest mondy: 6450 Won
500 Won: 12
100 Won: 4
50 Won: 1

In [ ]:
str1 = "Python"
str2 = "Programming"
str3 = "is"
str4 = "a amazing Language."
str = ''
str+=str1
str+=' '+str2
str+=' '+str3
str+=' '+str4
print(str)
str = ''
str = str1+' '+str2+' '+str3+' '+str4
print(str)

Python Programming is a amazing Language.
Python Programming is a amazing Language.

In [ ]:
kor, eng, math = 90,80,100
print(kor and eng and math >=80)
print(kor>=80 and eng>=80 and math>=80)

True
True

In [ ]:
# 비트 논리
# 논리곱(&) - 2진법 1*1=1 0*1=0 
print(4&6)
print(bin(4%6))

# 논리합(|) - 2진법 1+1=1 0+1=1 
print(4|6)
print(bin(4|6))

# 배타적 합(^) - 2진법 1+1=0 0+1=1 
print(4^6)
print(bin(4^6))

# 5 x 2^4
print(5<<4)
print(12<<2)
print(12<<3)
print(bin(12<<3))
# 100 / 2^3
print(100>>3)
print(12>>2)
print(bin(12>>2))

In [ ]:
# 진법 계산
print(bin(12))
print(oct(12))
print(hex(12))

# format()
num = 12
print("%o" %num)
print(format(num,"o"))
print(format(num,"#o"))

print("%x" %num)
print("%#x" %num)
print(format(num,"x"))
print(format(num,"#x"))

In [ ]:
num1, num2 = int(input("num: ")),int(input("left shift num: "))
ans = num1<<num2
print("Left shift answer: {} << {} = {}".format(num1, num2, ans))

In [ ]:
num1 = 125
num2 = 100
num3 = 120
max = num1 if num1 > num2 else num2
max = num3 if num3 > max else max
print("Max:",max, sep ='')

Max:125

In [ ]:
i = 0
for i in range(0,2):
    age = int(input("나이?: "))
    message = "있습니다." if age>=16 else "없습니다."
    print(f"나이: {age}\n이 등급의 영화를 볼 수 "+message)

In [ ]:
# Exercise
i = 0
for i in range(0,2):
    num = int(input("Numbre: "))
    message = '3의 배수입니다.' if num % 3 == 0 else "3의 배수가 아닙니다."
    print(f"당신이 입력한 숫자 {num}는 {message}")

In [ ]:
# Exercise

limit = 60000
i = 0
for i in range(0,2):
    price = int(input("상품 가격 ?: "))
    message = True if price >= limit else False
    print(f"상품 가격: {price}\n할인 대상: ", message)

In [ ]:
alp = ord(input("알파벳을 입력하시오: "))
# print (alp)
if (65<=alp and alp<=90) or (97<=alp and alp<=122) :
    message = "대문자입니다." if (65<=alp and alp<=90) else "소문자입니다."
    print(f"알파벳{chr(alp)}는 {message}")
else : 
    print(f"{chr(alp)}는 알파벳이 아닙니다.")

In [ ]:
poketmoney=int(input("부모님으로 부터 받은 용돈: "))
change = poketmoney - 3550
print("거스름돈:" ,change)
print("500원:", int(change/500)); change = change % 500
print("100원:", int(change/100)); change = change % 100
print(" 50원:", int(change/50))