<a href="https://colab.research.google.com/github/Jun-KY/Python/blob/main/class03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
num = int(input("숫자 입력: "))
if num < 10:
    print('10보다 작은 숫자입니다.')
else:   
    print('10또는 10보다 큰 수입니다.')
print('프로그램을 종료합니다.')

숫자 입력: 2
10보다 작은 숫자입니다.
프로그램을 종료합니다.

In [9]:
for i in range(0,3):
    age = int(input("나이: "))
    if age >=14:
        if age< 20:
            print("중고생")
        else: 
            print("대학생")
    else:
        print('초등학생')

나이: 120
대학생
나이: 23
대학생
나이: 11
초등학생

In [11]:
score = int(input('점수: '))

if score>=90:
    print("A")
else: 
    if score>=80:
        print("B")
    else: 
        if score>=70:
            print("C")
        else: 
            if score>=60:
                print("D")
            else: 
                print("F")

점수: 12
F

In [12]:
score = int(input('점수: '))
if score>=90:
    result = 'A'
elif score>=80:
    result = 'B'
elif score>=70:
    result = 'C'
elif score>=70:
    result = 'D'
else:
    result = 'F'
print('결과',result)

점수: 34
결과 F

In [ ]:
score=[]
a = int(input('소프트웨어 설계: '))
b = int(input('소프트웨어 개발: '))
c = int(input('데이터베이스 구축: '))
d = int(input('프로그래밍언어 활용: '))
e = int(input('정보시스템 구축 관리: '))
score.append(a)
score.append(b)
score.append(c)
score.append(d)
score.append(e)

sum = a+b+c+d+e
avg = sum/5
print('평균:',avg)

if avg >= 60:
    for(i) in score:
        if i >= 40:
            res = "합격"
        else:
            res = "불합격"
            break;
else: 
    res = "불합격"
print('결과: ',res)

In [ ]:
score = float(input("이번 학기 학점: "))
if score >= 4.0:
    res1 = '장학금 신청 대상'
else:
    res1 = '장학금 학점 미달'

print(res1)

In [ ]:
num = int(input('숫자: '))
if num !=0:
    if num%2==1:
        ans = '홀수'
    else:
        ans = '짝수'
    print(f'입력한 수 {num}은(는) {ans}이다. ')
else: 
    print(f'입력한 수는 {num}.')

In [ ]:
for i in range(0,3):
    number = int(input("숫자: "))
    if 50 <= number <= 100 :
        answer = "50보다 크거나 같고 100보다 작거나 같습니다."
    elif number < 50:
        answer = '50보다 작습니다.'
    else:
        answer = '100보다 큽니다.'
    print(f"입력한 수 {number}은(는) {answer}")

In [ ]:
for i in range(0,3):
    number = int(input("숫자: "))
    if number < 50:
        answer = '50보다 작습니다.'
    else:
        if number <= 100:
            answer = "50보다 크거나 같고 100보다 작거나 같습니다."
        else:
            answer = '100보다 큽니다.'
    print(f"입력한 수 {number}은(는) {answer}")

In [ ]:
numb = int(input('0~9999 까지의 수:'))
if numb/10 >= 100:
    ans = '네 자릿수 숫자입니다.'
elif numb/10 >= 10:
    ans = '세 자릿수 숫자입니다.'
elif numb/10 >= 1:
    ans = '두 자릿수 숫자입니다.'
else: 
    ans = '한 자릿수 숫자입니다.'
print(ans)

In [ ]:
fruit = ["딸기", '포도', '망고', '복숭아', '수박']
search = input("검색: ")
if search in fruit:
    print(f"맛있는 {search}가 있습니다.")
else:
    print(f"{search}이(가) 없습니다.")